{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
	"prettier",
	"@typescript-eslint"
  ],
  "extends": [
	"eslint:recommended",
	"plugin:@typescript-eslint/eslint-recommended",
	"plugin:@typescript-eslint/recommended"
  ],
  "rules": {
	"@typescript-eslint/ban-ts-comment": "off",
	"@typescript-eslint/no-non-null-assertion": "off",
	"prettier/prettier": [
	  "error",
	  {
		"singleQuote": true,
		"semi": true
	  }
	]
  }
}
