{% set isActive="bar" %}
{% extends "template.html" %}
{% block additionalTitle %}Bar{% endblock additionalTitle %}

{% block content %}
	<h1 class="headline">Bar element</h1>
	<p>Use bar elements for vertical alignment and horizontal distribution, such as navigation bars or inline forms.
		It can contain other elements, like buttons, form elements or links.
		The elements will be centered vertically and can be grouped to the left, right or center.</p>

	<div class="sandbox js-codeChild">
		<nav class="bar">
			<div class="bar-group bar-group--left">
				<span class="bar-item">Just some Text</span>
			</div>
			<div class="bar-group bar-group--center">
				<button class="btn btn--small">A Button</button>
				<a class="bar-link" href="#">A Link</a>
				<span class="bar-item">Just some Text</span>
			</div>
			<div class="bar-group bar-group--right bar-group--nav">
				<span class="bar-item">Just some Text</span>
				<a class="bar-link" href="#">A Link</a>
				<a class="bar-link" href="#">A Link</a>

			</div>
		</nav>
	</div>

	<div class="sandbox js-codeChild">
		<form class="bar">
			<div class="bar-group bar-group--left input-group">
				<label class="label">Label</label>
				<input class="input" type="text" />
			</div>
			<div class="bar-group bar-group--right">
				<input class="btn btn--danger" type="reset" />
				<input class="btn btn--primary" type="submit" />
			</div>
		</form>
	</div>
{% endblock content %}
