{% set currSite="gettingstarted" %}
{% extends "template.html" %}
{%- block additionalTitle -%}Getting Started{%- endblock additionalTitle -%}

{% block content %}
<section class="section">
		<h1 class="headline">Getting Started</h1>


		<h2 class="headline">Dependencies</h2>
		<p>Before you continue, be sure that you have these tools installed on your machine:</p>
		<pre>NPM (https://www.npmjs.com)
Git (https://git-scm.com)</pre>
	</section>


	<section class="section">
		<h2 class="headline">Install</h2>
		<p>Get the framework from Github:</p>
		<pre>$ git clone git@github.com:viur-framework/ignite.git</pre>

		<p>As an alternativ, you can <a href="https://github.com/viur-framework/ignite/archive/master.zip">download it as ZIP</a>
		<p>Change into the Ignite root directory:</p>
		<pre>$ cd ignite</pre>

		<p>Install gulp global and all dependencies local, you will need them later to compile the less:</p>
		<pre>$ npm run setup</pre>

		<div class="msg msg--success is-active">
			{{ embedSvg("icon-check") }}
			<div class="msg-content">
				<h3 class="msg-headline">You did it!</h3>
				<p>Let's start.</p>
			</div>
		</div>
	</section>


	<section class="section">
		<h2 class="headline">Style your project</h2>
			<p>Because Ignite is designed for VIUR projects it uses a specific dictionarystructure. Of cource you can customize  it for your workflow.</p>
			<p>In <code>../static/less/</code> your find the <code>style.less</code> which is imported as default by ignite. Change this in the <code>viur.less</code>, if required.</p>
			<p>Gulp and the other dependencies will output the css in <code>../static/css/</code>. Change this in the <code>gulpfile.js</code>, if required.</p>
		</ul>
	</section>


	<section class="section">
		<h2 class="headline">... And Make it</h2>

		<p>Change back into the ignite root directory:</p>
		<pre>$ cd ignite</pre>

		<p>And run the gulp file to compile the less:</p>
		<pre>$ gulp</pre>
		<p></p>

		<h4 class="subline">Use the gulp watch task!</h4>
		<p>For faster workflows you can use the gulp watch task, it will compile the less after changes in files automatically.</p>
		<pre>$ gulp watch</pre>

		<div class="msg msg--success is-active">
			{{ embedSvg("icon-check") }}
			<div class="msg-content">
				<h3 class="msg-headline">Well Done!</h3>
				<p>Open your project in a browser.</p>
			</div>
		</div>
	</section>
{% endblock content %}
