{% set isActive="grid" %}
{% extends "template.html" %}
{% block additionalTitle %}Grid{% endblock additionalTitle %}

{% block content %}
	<section class="section">
		<h1 class="headline">Grid</h1>
		<p>Use a grid System to build repsosive Colums.</p>


		<h2 class="headline">Four equal columns</h2>
		<p>Create a <code>grid-row</code> div and add multiple <code>grid-col</code>. All Columns will have the same width.</p>
		<div class="sandbox js-codeChild grid-demo">
			<div class="grid-row">
				<div class="grid-col">
					<p>Column 1</p>
				</div>
				<div class="grid-col">
					<p>Column 2</p>
				</div>
				<div class="grid-col">
					<p>Column 3</p>
				</div>
				<div class="grid-col">
					<p>Column 4</p>
				</div>
			</div>
		</div>
	</section>


	<section class="section">
		<h2 class="headline">Custom Sizes</h2>
		<p>To change the size of a column append the class <code>grid-col-<i>[size]</i></code>.
		All other columns get the size automatically.</p>
		<div class="sandbox js-codeChild grid-demo">
			<div class="grid-row">
				<div class="grid-col grid-col-2">
					<p>grid-col-2</p>
				</div>
				<div class="grid-col grid-col-4">
					<p>rid-col-4</p>
				</div>
				<div class="grid-col">
					<p>Auto</p>
				</div>
				<div class="grid-col grid-col-4">
					<p>grid-col-4</p>
				</div>
			</div>

			<div class="grid-row flex-around">
				<div class="grid-col grid-col-5">
					<p>grid-col-5</p>
				</div>
				<div class="grid-col">
					<p>Auto</p>
				</div>
			</div>
		</div>
		<h4 class="headline">Other sizes</h4>
		<pre>.grid-col-half
.grid-col-one-third
.grid-col-two-third
.grid-col-one-quarter
.grid-col-three-quarter</pre>
	</section>

	<section class="section">
		<h2 class="headline">Two columns with offset</h2>
		<p>Add the class <code>offset-is-<i>[size]</i></code> to get space between the columns</p>
		<div class="sandbox js-codeChild grid-demo">
			<div class="grid-row flex-around">
				<div class="grid-col grid-col-3">
					<p>No offset</p>
				</div>
				<div class="grid-col grid-col-auto offset-is-half">
					<p>offset-is-half</p>
				</div>
			</div>

			<div class="grid-row flex-around">
				<div class="grid-col grid-col-3">
					<p>No offset</p>
				</div>
				<div class="grid-col offset-is-2">
					<p>offset-is-2</p>
				</div>
			</div>
		</div>
		<h4 class="headline">Other offsets</h4>
		<pre>.offset-is-half
.offset-is-one-third
.offset-is-two-third
.offset-is-one-quarter
.offset-is-three-quarter</pre>
	</section>
{% endblock content %}
