{%- extends "template.html" -%}

{% block content %}
	<section class="section">
		<h1 class="headline docs-headline">ViUR Ignite<br> is a sturdy boilerplate LESS framework </h1>

		<div style="margin: 1em 0;">
			<a class="github-button" href="https://github.com/viur-framework/ignite/subscription"
				data-size="large" data-show-count="true"
				aria-label="Watch viur-framework/ignite on GitHub">Watch</a>

			<a class="github-button" href="https://github.com/viur-framework/ignite"
				data-size="large" data-show-count="true"
				aria-label="Star viur-framework/ignite on GitHub">Star</a>
			<a class="github-button" href="https://github.com/viur-framework/ignite/archive/master.zip"
				data-size="large" aria-label="Download viur-framework/ignite on GitHub">Download</a>
		</div>

		<p> Our goal is to create a framework that is sturdy and scalable
yet lightweight and adaptable to our different customer projects.
Our approach to CSS is influenced by many modern CSS principles: object oriented, functional and structured.
It uses the power of LESS preprocessing (mixins, variables, cascading etc.) and CSS3+. </p>
	</section>
	<section class="section">
		<h3 class="headline">What is this repository for?</h3>
		<ul class="is-list">
			<li>Ignite is a development toolkit for sturdy HTML and CSS</li>
			<li>It is a lightweight collection of helpful CSS components</li>
			<li>It is responsive and adaptable</li>
			<li>It is built with LESS</li>
			<li>Ignite is JavaScript free as most projects use their own JS implementation.</li>
		</ul>

	</section>
{% endblock content %}

{% block additionalFooter %}
	<script async defer src="https://buttons.github.io/buttons.js"></script>
{% endblock %}
