{%- extends "template.html" -%}

{% block content %}
	<section class="section">
		<h1 class="headline docs-headline">Ignite</h1>

		<div style="margin: 1em 0;">
			<a class="github-button" href="https://github.com/viur-framework/ignite/subscription"
				data-size="large" data-show-count="true"
				aria-label="Watch viur-framework/ignite on GitHub">Watch</a>

			<a class="github-button" href="https://github.com/viur-framework/ignite"
				data-size="large" data-show-count="true"
				aria-label="Star viur-framework/ignite on GitHub">Star</a>
			<a class="github-button" href="https://github.com/viur-framework/ignite/archive/master.zip"
				data-size="large" aria-label="Download viur-framework/ignite on GitHub">Download</a>
		</div>

		<p>This is the first attempt at building a sturdy foundation of CSS (LESS) for
		<a href="http://www.viur.is">ViUR</a> products and <a href="https://www.mausbrand.de">Mausbrand</a> projects.
		Ignite is built on the principles of many CSS guides and frameworks.</p>

		<p>Different projects require different solutions.<br />
		Ignite is a solution based on the needs of our python/jinja oriented stack.<br />
		A lightweight framework for many different customer projects.<br />
		For other purposes you may use one of the frameworks or guides below.<br />
		Their samples, knowledge and expertise helped us make Ignite.</p>

		<ul class="is-list">
			<li><a href="http://primercss.io">Primer CSS</a></li>
			<li><a href="https://benfrain.com/enduring-css-writing-style-sheets-rapidly-changing-long-lived-projects/"
			>Enduring CSS</a></li>
			<li><a href="http://bulma.io">Bulma</a></li>
			<li><a href="http://cssguidelin.es">CSS Guidelin.es</a></li>
			<li><a href="http://andhart.github.io/bijou">Bijou</a></li>
			<li><a href="https://github.com/jscarmona/bedrock">Bedrock</a></li>
			<li>and others</li>
		</ul>

		<p>Thanks guys!</p>


		<h3 class="headline">What is this repository for?</h3>
		<ul class="is-list">
			<li>Ignite is a development toolkit for sturdy HTML and CSS</li>
			<li>It is a lightweight collection of helpful CSS components</li>
			<li>It is responsive and adaptable</li>
			<li>It is built with LESS</li>
			<li>Ignite is JavaScript free as most projects use their own JS implementation.</li>
		</ul>

	</section>
{% endblock content %}

{% block additionalFooter %}
	<script async defer src="https://buttons.github.io/buttons.js"></script>
{% endblock %}
