{% set isActive="tables" %}
{% extends "template.html" %}
{% block additionalTitle %}Table{% endblock additionalTitle %}

{% block content %}
	<section class="section">
		<h1 class="headline">Table</h1>

		<h2 class="headline">Default table</h2>
		<p>This is a standard table.</p>
		<p>The table below lists all CSS3 properties and their browser support:</p>


		<div class="sandbox js-codeChild">
			<table class="table">
				<thead class="tableHead">
					<tr class="tableHead-row">
						<th class="tableHead-cell">Company</th>
						<th class="tableHead-cell">Contact</th>
						<th class="tableHead-cell">Country</th>
					</tr>
				</thead>
				<tbody class="tableBody">
					<tr class="tableBody-row">
						<td class="tableBody-cell">Alfreds Futterkiste</td>
						<td class="tableBody-cell">Maria Anders</td>
						<td class="tableBody-cell">Germany</td>
					</tr>
					<tr class="tableBody-row">
						<td class="tableBody-cell">Centro comercial Moctezuma</td>
						<td class="tableBody-cell">Francisco Chang</td>
						<td class="tableBody-cell">Mexico</td>
					</tr>
					<tr class="tableBody-row is-active">
						<td class="tableBody-cell">Ernst Handel</td>
						<td class="tableBody-cell">Roland Mendel</td>
						<td class="tableBody-cell">Austria</td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
{% endblock content %}
