{% set currSite="variables" %}
{% extends "template.html" %}
{% block additionalTitle %}Variables/Settings{% endblock additionalTitle %}

{% block content %}
	<section class="section">
		<h1 class="headline docs-headline">Variables/Settings</h1>
		<p>To customize your project you can overwrite the default settings in your style.less</p>


		<h2 class="headline docs-headline">Colors</h2>

		<table class="table">
			<thead class="table-head">
				<tr class="table-head-row">
					<th class="table-head-cell">Variable</th>
					<th class="table-head-cell">Default Value</th>
					<th class="table-head-cell">Note</th>
				</tr>
			</thead>
			<tbody class="table-body">
				<tr class="table-body-row">
					<td class="table-body-cell">@mainColor</td>
					<td class="table-body-cell"><div class="color-demo" style="background-color: #d00f1c;"></div>#d00f1c</td>
					<td class="table-body-cell">The corporate color - defining most of the looks.</td>
				</tr>
				<tr class="table-body-row">
					<td class="table-body-cell">@complementColor</td>
					<td class="table-body-cell"><div class="color-demo" style="background-color: #333;"></div>#333</td>
					<td class="table-body-cell">A color used to sit next to the maincolor.</td>
				</tr>
				<tr class="table-body-row">
					<td class="table-body-cell">@textColor</td>
					<td class="table-body-cell"><div class="color-demo" style="background-color: #222;"></div>#222</td>
					<td class="table-body-cell"></td>
				</tr>
				<tr class="table-body-row">
					<td class="table-body-cell">@invTextColor</td>
					<td class="table-body-cell"><div class="color-demo" style="background-color: #f4f4f4;"></div>#f4f4f4</td>
					<td class="table-body-cell"></td>
				</tr>
				<tr class="table-body-row">
					<td class="table-body-cell">@backgroundColor</td>
					<td class="table-body-cell"><div class="color-demo" style="background-color: #fafafa;"></div>#fafafa</td>
					<td class="table-body-cell"></td>
				</tr>
				<tr class="table-body-row">
					<td class="table-body-cell">@successColor</td>
					<td class="table-body-cell"><div class="color-demo" style="background-color: #4cad42;"></div>#4cad42</td>
					<td class="table-body-cell"></td>
				</tr>
				<tr class="table-body-row">
					<td class="table-body-cell">@warnColor</td>
					<td class="table-body-cell"><div class="color-demo" style="background-color: #f5b639;"></div>#f5b639</td>
					<td class="table-body-cell"></td>
				</tr>
				<tr class="table-body-row">
					<td class="table-body-cell">@failColor</td>
					<td class="table-body-cell"><div class="color-demo" style="background-color: #f44336;"></div>#f44336</td>
					<td class="table-body-cell"></td>
				</tr>
				<tr class="table-body-row">
					<td class="table-body-cell">@hintColor</td>
					<td class="table-body-cell"><div class="color-demo" style="background-color: #1da7e0;"></div>#1da7e0</td>
					<td class="table-body-cell"></td>
				</tr>
			</tbody>
		</table>
	</section>

	<section class="section">
		<h2 class="headline docs-headline">Default Shadow</h2>

		<table class="table">
			<thead class="table-head">
				<tr class="table-head-row">
					<th class="table-head-cell">Variable</th>
					<th class="table-head-cell">Default Value</th>
					<th class="table-head-cell">Note</th>
				</tr>
			</thead>
			<tbody class="table-body">
				<tr class="table-body-row">
					<td class="table-body-cell">@defaultShadow</td>
					<td class="table-body-cell">1px 2px 3px rgba(0,0,0,0.3)</td>
					<td class="table-body-cell"></td>
				</tr>
			</tbody>
		</table>
	</section>


	<section class="section">
		<h2 class="headline docs-headline">Fonts</h2>

		<table class="table">
			<thead class="table-head">
				<tr class="table-head-row">
					<th class="table-head-cell">Variable</th>
					<th class="table-head-cell">Default Value</th>
					<th class="table-head-cell">Note</th>
				</tr>
			</thead>
			<tbody class="table-body">
				<tr class="table-body-row">
					<td class="table-body-cell">@bodyFonts</td>
					<td class="table-body-cell">'Source Sans Pro', 'Open Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'</td>
					<td class="table-body-cell">Default font stack</td>
				</tr>
				<tr class="table-body-row">
					<td class="table-body-cell">@headFonts</td>
					<td class="table-body-cell">'Source Sans Pro', 'Open Sans', sans-serif</td>
					<td class="table-body-cell">Fonts for headlines, blockquotes and alike</td>
				</tr>
				<tr class="table-body-row">
					<td class="table-body-cell">@monoFonts</td>
					<td class="table-body-cell">'Source Code Pro', Courier, monospace</td>
					<td class="table-body-cell">Fonts for code pieces.</td>
				</tr>
			</tbody>
		</table>
	</section>


	<section class="section">
		<h2 class="headline docs-headline">Page &amp; Media Queries</h2>

		<table class="table">
			<thead class="table-head">
				<tr class="table-head-row">
					<th class="table-head-cell">Variable</th>
					<th class="table-head-cell">Default Value</th>
					<th class="table-head-cell">Note</th>
				</tr>
			</thead>
			<tbody class="table-body">
				<tr class="table-body-row">
					<td class="table-body-cell">@pageWidth</td>
					<td class="table-body-cell">1300px</td>
					<td class="table-body-cell">max-width of the centered container</td>
				</tr>
				<tr class="table-body-row">
					<td class="table-body-cell">@breakSmall</td>
					<td class="table-body-cell">900px</td>
					<td class="table-body-cell">smart phones</td>
				</tr>
				<tr class="table-body-row">
					<td class="table-body-cell">@breakMedium</td>
					<td class="table-body-cell">1100px</td>
					<td class="table-body-cell">tablets</td>
				</tr>
				<tr class="table-body-row">
					<td class="table-body-cell">@breakLarge</td>
					<td class="table-body-cell">1400px</td>
					<td class="table-body-cell">screens</td>
				</tr>
				<tr class="table-body-row">
					<td class="table-body-cell">@break2x</td>
					<td class="table-body-cell">228dpi</td>
					<td class="table-body-cell">high-density displays</td>
				</tr>
				<tr class="table-body-row">
					<td class="table-body-cell">@breakPrint</td>
					<td class="table-body-cell">print</td>
					<td class="table-body-cell">make it printable</td>
				</tr>
			</tbody>
		</table>
	</section>

	<section class="section">
		<h2 class="headline docs-headline">Buttons</h2>

		<table class="table">
			<thead class="table-head">
				<tr class="table-head-row">
					<th class="table-head-cell">Variable</th>
					<th class="table-head-cell">Default Value</th>
					<th class="table-head-cell">Note</th>
				</tr>
			</thead>
			<tbody class="table-body">
				<tr class="table-body-row">
					<td class="table-body-cell">@btn-backgroundColor</td>
					<td class="table-body-cell"><div class="color-demo" style="background-color: #e7e5e5;"></div>#e7e5e5</td>
					<td class="table-body-cell"></td>
				</tr>
				<tr class="table-body-row">
					<td class="table-body-cell">@btn-primaryBgColor</td>
					<td class="table-body-cell">@successColor</td>
					<td class="table-body-cell"></td>
				</tr>
				<tr class="table-body-row">
					<td class="table-body-cell">@btn-dangerBgColor</td>
					<td class="table-body-cell">@failColor</td>
					<td class="table-body-cell"></td>
				</tr>
				<tr class="table-body-row">
					<td class="table-body-cell">@btn-editBgColor</td>
					<td class="table-body-cell">@hintColor</td>
					<td class="table-body-cell"></td>
				</tr>
				<tr class="table-body-row">
					<td class="table-body-cell">@btn-shadow</td>
					<td class="table-body-cell">0 1px 1px rgba(0,0,0,0.4)</td>
					<td class="table-body-cell"></td>
				</tr>
				<tr class="table-body-row">
					<td class="table-body-cell">@btn-hoverShadow</td>
					<td class="table-body-cell">0 3px 3px rgba(0,0,0,0.4)</td>
					<td class="table-body-cell"></td>
				</tr>
			</tbody>
		</table>
	</section>


	<section class="section">
		<h2 class="headline docs-headline">Form / Inputs</h2>

		<table class="table">
			<thead class="table-head">
				<tr class="table-head-row">
					<th class="table-head-cell">Variable</th>
					<th class="table-head-cell">Default Value</th>
					<th class="table-head-cell">Note</th>
				</tr>
			</thead>
			<tbody class="table-body">
				<tr class="table-body-row">
					<td class="table-body-cell">@input-validColor</td>
					<td class="table-body-cell">@successColor</td>
					<td class="table-body-cell"></td>
				</tr>
				<tr class="table-body-row">
					<td class="table-body-cell">@input-dangerColor</td>
					<td class="table-body-cell">@failColor</td>
					<td class="table-body-cell"></td>
				</tr>
				<tr class="table-body-row">
					<td class="table-body-cell">@input-hintColor</td>
					<td class="table-body-cell">@hintColor</td>
					<td class="table-body-cell"></td>
				</tr>
				<tr class="table-body-row">
					<td class="table-body-cell">@input-requiredColor</td>
					<td class="table-body-cell">@mainColor</td>
					<td class="table-body-cell"></td>
				</tr>
				<tr class="table-body-row">
					<td class="table-body-cell">@input-color</td>
					<td class="table-body-cell"><div class="color-demo" style="background-color: #ffffff;"></div>#ffffff</td>
					<td class="table-body-cell"></td>
				</tr>
				<tr class="table-body-row">
					<td class="table-body-cell">@input-shadow</td>
					<td class="table-body-cell">0px 1px 1px rgba(0,0,0,0.4)</td>
					<td class="table-body-cell"></td>
				</tr>
				<tr class="table-body-row">
					<td class="table-body-cell">@input-hoverShadow</td>
					<td class="table-body-cell">0 3px 3px rgba(0,0,0,0.4)</td>
					<td class="table-body-cell"></td>
				</tr>
			</tbody>
		</table>
	</section>


	<section class="section">
		<h2 class="headline docs-headline">Other</h2>

		<table class="table">
			<thead class="table-head">
				<tr class="table-head-row">
					<th class="table-head-cell">Variable</th>
					<th class="table-head-cell">Default Value</th>
					<th class="table-head-cell">Note</th>
				</tr>
			</thead>
			<tbody class="table-body">
				<tr class="table-body-row">
					<td class="table-body-cell">@menuBackgroundColor</td>
					<td class="table-body-cell">#f4f4f4</td>
					<td class="table-body-cell"></td>
				</tr>
				<tr class="table-body-row">
					<td class="table-body-cell">@progressBackground</td>
					<td class="table-body-cell">lighten(@complementColor,60%)</td>
					<td class="table-body-cell"></td>
				</tr>
				<tr class="table-body-row">
					<td class="table-body-cell">@table-rowBackgroundColor</td>
					<td class="table-body-cell">#fefefe</td>
					<td class="table-body-cell"></td>
				</tr>
				<tr class="table-body-row">
					<td class="table-body-cell">@tipMultilineMaxwidth</td>
					<td class="table-body-cell">250px</td>
					<td class="table-body-cell"></td>
				</tr>
			</tbody>
		</table>
	</section>
{% endblock content %}
